<% @grouped_links.each do |date, links| %>
	<h2><%= date %></h2>
	<ul>
		<% links.each do |link| %>
			<li>
				<%= link_to link.title, link_path(link), class: "tutorial-show-link" %>
				<div class="tutorial-age">Tutorial from <%= link.year %></div>
				<div class="tutorial-submit">Link posted by <%= link_to User.find(link.user_id).username, user_path(link.user_id) %> on <%= link.created_at.strftime("%A") %> at <%= link.created_at.strftime("%l:%M %P") %></div>

				<%= render partial: 'favorite_buttons', locals: {link: link} %>
			</li>
		<% end %>
	</ul>
<% end %>


