<p class="breadcrumb">
	<%= link_to "Home", links_path %> / <%= @link.title %>
</p>

<h2><%= @link.title %></h2>

<p class="tutorial-show-link"><a href="<%= @link.link_url %>" target="_blank"><%= @link.link_url %></a></p>

<p class="content"><%= @link.synopsis %></p>

<!-- Want to show a screenshot of the website here -->
<!-- <img src="<%= @response %>"> -->

<% if user_signed_in? && current_user[:id] == @link_submitted_by %>
	<p class="tutorial-show-link"><%= link_to "Edit " + @link.title, edit_link_path(@link) %></p>
	<%= form_for @link, :method => :delete do |f| %>
		<%= f.submit "Remove" %>
	<% end %>
<% end %>

